<header class="header">
    <div class="company-name">
        <h1>Фотоцентр Ульман. CRM</h1>
    </div>
    <ul class="menu">
        <li class="user-dropdown">
            <span class="user-label">Привет, User. Ваша роль: Администратор</span>
            <div class="dropdown-block">
                <span class="dropdown-arrow">&#9660;</span>
                <div class="dropdown-menu">
                    <ul>
                        <li><a href="/static">Главная</a></li>
                        <li><a href="/pages/queries.html">Доступные запросы</a></li>
                        <li><a href="#">Выход</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</header>